$main_bg_color: #f0f0f0;
$bg_color_1: rgb(255, 255, 255);
$font_color:rgb(31, 31, 31);
$border_color_1:rgba(13, 0, 71, 0.068);
$border_color_2:rgba(13, 0, 71, 0.288);
$border_color_3:rgba(0, 60, 255, 0.808);